<div class="bg-light p-2" id="commentbox">
    <div class="d-flex flex-row align-items-start">

      <textarea
        class="form-control ml-1 shadow-none textarea"  [(ngModel)]="textData"
      ></textarea> 
    </div>
    <div class="mt-2 text-right">
      <button class="btn btn-primary btn-sm shadow-none" type="button" (click)="createReply()">
        Post reply</button
      ><button
        class="btn btn-outline-primary btn-sm ml-1 shadow-none"
        type="button" (click)="cancelReply()"
      >
        Cancel
      </button>
    </div>
  </div>